footer {
  background-color: #00B2CC;
  height: 380px;
  position: relative;
  display: grid;

}

.logo-pic {
  width: 100px;
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo-pic img {
  border-radius: 50%;
  position: relative;
  display: flex;
  width: 90px;
  height: 90px;
}

.links {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 75px;
  left: 350px;
  margin-top: 120px;
  cursor: pointer;
} 


.other-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  cursor: pointer;
}

.links p:hover,
.other-links p:hover {
  color: blue;
}